VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_GOOGLE_SIGNIN_ENABLED=true
VITE_DATA_BACKEND=supabase
VITE_SUPABASE_URL=https://cxvznpfcmorysnwwmbna.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=
